/* --Grid-- */
.grid-container {
  grid-template-columns: auto auto auto;
  display: grid;
  gap: 50px;
  padding: 100px;

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* --Body Elements-- */

body{
  background-color: #2196F3;

}

/* --MenuBox-- */
.toolMenu {
  border-color: black;
  border-style: outset;
  border-width: 2px;
  width: 300px;

}

ul.menuButton {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li > button {
  width: 110px;

}


.toolNameMenu {
  text-align: start;
  padding-left: 20px;
}

/* --TaskMenu-- */

.taskMenu{
 border-color: black;
 border-style: outset;
 width: 1200px;
}

.taskMenu > table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.taskMenu > table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* --Jobsite-- */
ul.jobInfo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.buttonList > li {
  float: left;
  padding-left: 20px ;
}

/* --TimeRegister--*/
.tRMain {
  margin: auto;
  width: 50%;
  border: 3px outset;
  padding: 50px 20px 50px 20px;
  font-size: 20px;
}
.tRMainCenter {
  text-align: center;
}

.tRCommentField {
  width: 30%;
  height: 50px;
}
.tRCostomer label {
  font-size: 30px;
}
.tRCostomer select{
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-right: 80px;
}
.tRDate{
  padding: 20px;
}
.tRDate input {
  width: 145px;
  height: 50px;
  font-size: 20px;
  margin-right: 66px;
}
.tRTime {
  padding: 10px;
}
.tRTime input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-right: 66px;
}
.tRTask {
  padding: 10px;
}
.tRTask select {
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-right: 88px;
}
.tRComment {
  margin-right: 120px;
}
.tRSubmitButton {
  padding: 20px;

}

/* --popup-- */

/* --popupCustomer-- */
.popupCustomer {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  background-color: #dddddd;
  border-style: solid;
  border-color: black;
}

.idpopupCustomer {
  display: none;
}
.open-popupCustomer {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.close-popupCustomer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  cursor: pointer;
}

/* --popupTask-- */
.popupTask {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  background-color: #dddddd;
  border-style: solid;
  border-color: black;
}

.idpopupTask {
  display: none;
}
.open-popupTask {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.close-popupTask {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  cursor: pointer;
}

/* --popupEmployee-- */
.popupEmployee {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  background-color: #dddddd;
  border-style: solid;
  border-color: black;
}
.idpopupEmployee {
  display: none;
}
.open-popupEmployee {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.close-popupEmployee {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  cursor: pointer;
}









































/**/
