/* --Grid-- */
.grid-container {
  grid-template-columns: auto auto auto;
  display: grid;
  gap: 50px;
  padding: 100px;

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* --Body Elements-- */

body{
  background-color: #2196F3;

}

/* --MenuBox-- */
.toolMenu {
  border-color: black;
  border-style: outset;
  border-width: 2px;
  width: 300px;

}

ul.menuButton {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li > button {
  width: 110px;

}

.toolNameMenu {
  text-align: start;
  padding-left: 20px;
}

/* --TaskMenu-- */

.taskMenu{
 border-color: black;
 border-style: outset;
 width: 1200px;
}

.taskMenu > table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.taskMenu > table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



/**/
/**/
